{% load static %}
{% url 'course_list' as course_list_url %}
{% url 'video_list' as video_list_url %}
{% url 'webinar_list' as webinar_list_url %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сервис для парикмахеров-колористов</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Парикмахер-колорист</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == course_list_url %}active{% endif %}" href="{% url 'course_list' %}">Курсы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == video_list_url %}active{% endif %}" href="{% url 'video_list' %}">Видео</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == webinar_list_url %}active{% endif %}" href="{% url 'webinar_list' %}">Вебинары</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_profile' %}">Личный кабинет</a>
                        </li>
                        <li class="nav-item">
                            <form method="post" action="{% url 'logout' %}" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="nav-link btn btn-link">Выйти</button>
                            </form>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Войти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <main class="flex-grow-1">
        {% comment %} <div class="container mt-4"> {% endcomment %}
            {% block content %}
            {% endblock %}
        {% comment %} </div> {% endcomment %}
    </main>
    <footer class="footer mt-auto">
        <div class="container text-center">
            <p class="mb-0">&copy; 2025 Сервис для парикмахеров-колористов. Все права защищены.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>