{% load static %}
{% url 'course_list' as course_list_url %}
{% url 'video_list' as video_list_url %}
{% url 'webinar_list' as webinar_list_url %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сервис для парикмахеров-колористов</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MonteCarlo&family=Yesteryear&display=swap" rel="stylesheet">
    
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Парикмахер-колорист</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == course_list_url %}active{% endif %}" href="{% url 'course_list' %}">Курсы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == video_list_url %}active{% endif %}" href="{% url 'video_list' %}">Видео</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == webinar_list_url %}active{% endif %}" href="{% url 'webinar_list' %}">Вебинары</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_profile' %}">Личный кабинет</a>
                        </li>
                        <li class="nav-item">
                            <form method="post" action="{% url 'logout' %}" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="nav-link btn btn-link">Выйти</button>
                            </form>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="#"data-bs-toggle="modal" data-bs-target="#loginModal">Войти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#registerModal">Регистрация</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- loginModal -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="loginModalLabel">Вход</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">  
            
                {% if form.errors %}
                    <div class="alert alert-danger">
                        Неправильное имя пользователя или пароль. Пожалуйста, попробуйте снова.
                    </div>
                {% endif %}
            
                <form method="post" action="{% url 'login' %}" id="loginForm">
                    
                    {% csrf_token %}
                    <div class="form-group mb-4">
                        <input type="text" name="username" class="form-control" id="id_username" placeholder="Имя пользователя" required>
                    </div>
                    <div class="form-group mb-4">
                        <input type="password" name="password" class="form-control" id="id_password" placeholder="Пароль" required>
                    </div>
                    <input type="hidden" name="next" value="{{ next }}"> 
                    
                    <p class="mt-2 text-center">
                        <a href="{% url 'password_reset' %}">Забыли пароль?</a>
                    </p>
                    <p class="mt-3 text-center" style="display: flex; flex-direction: column; align-items: center;">
                        <span>Нет аккаунта?</span> 
                        <a href="#" data-bs-toggle="modal" data-bs-target="#registerModal">Зарегистрируйтесь</a>
                    </p>
                    
                    <div>
                    <button type="button" class="btn btn-secondary"   data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Войти</button>
                    </div>    
                </form>
                
            </div>
          </div>
        </div>
      </div>

    <!-- registerModal -->
    <div class="modal fade" id="registerModal" tabindex="-1"    aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="registerModalLabel">Регистрация</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal"   aria-label="Close"></button>
            </div>
            <div class="modal-body">
            
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">    
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <form method="post" action="{% url 'register' %}" id="registerForm">
                    {% csrf_token %}
                    <div class="form-group mb-4">
                        {{ register_form.username }}
                        {% if register_form.username.errors %}
                            <div class="invalid-feedback">    
                                {{ register_form.username.errors }}
                            </div>
                        {% endif %}
                    </div>
                
                    <div class="form-group mb-4">
                        {{ register_form.last_name }}
                        {% if register_form.last_name.errors %}
                            <div class="invalid-feedback">    
                                {{ register_form.last_name.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group mb-4">
                        {{ register_form.email }}
                        {% if register_form.email.errors %}
                            <div class="invalid-feedback">    
                                {{ register_form.email.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group mb-4">
                        {{ register_form.password1 }}
                        {% if register_form.password1.errors %}
                            <div class="invalid-feedback">    
                                {{ register_form.password1.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group mb-4">
                        {{ register_form.password2 }}
                        {% if register_form.password2.errors %}
                            <div class="invalid-feedback">   
                                {{ register_form.password2.errors }}
                            </div>
                        {% endif %}
                    </div>
                
                    <p class="mt-3 text-center" style="display: flex;flex-direction: column; align-items: center;">
                        <span>Уже зарегистрированы?</span>    
                        <a href="#"data-bs-toggle="modal" data-bs-target="#loginModal">Войдите</a>
                
                    <div>
                        <button type="button" class="btn btn-secondary"   data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                    </div>
                </form>
            
            </div>
          </div>
        </div>
      </div>
    <main class="flex-grow-1">
        {% comment %} <div class="container mt-4"> {% endcomment %}
            {% block content %}
            {% endblock %}
        {% comment %} </div> {% endcomment %}
    </main>
    <footer class="footer mt-auto">
        <div class="container d-flex justify-content-center">
            <p class="mb-0">&copy; 2025 Сервис для парикмахеров-колористов. Все права защищены.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>