{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">

    <div class="card my-3 p-3">
        <h1>Запись на курс: {{ course.title }}</h1>
        <p>Цена: {{ course.price }} руб.</p>

        <form method="post">
            {% csrf_token %}
            <p>Для оплаты перейдите в Telegram: <a href="https://t.me/your_telegram">ссылка</a></p>
            <button type="submit" class="btn btn-primary">Подтвердить запись</button>
            <a href="{% url 'home' %}" class="btn btn-secondary">На главную</a>
        </form>
    </div>
</div>
{% endblock %}
