{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container d-flex justify-content-center">
    <div class="card mt-4 w-50">
        <div class="card-body">
            <h1>Оплата видео: {{ video.title }}</h1>
            <p>Цена: {{ video.price }} руб.</p>
            <p>Для оплаты перейдите в Telegram: <a href="https://t.me/your_telegram">ссылка</a></p>
            
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Купить видео</button>
                <a href="{% url 'home' %}" class="btn btn-secondary">На главную</a>
            </form>
        </div>
    </div>    
</div>
{% endblock %}