{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row d-flex overflow-hidden" style="height: calc(100vh - 56px - 64px)">
        <div class="col-12 col-md-6 h-auto h-md-100 p-3 d-flex flex-column justify-content-around">
            <div>
                <h1 class="text-center mb-3">Добро пожаловать в сервис для парикмахеров-колористов!</h1>
                <p class="lead text-center">Здесь вы найдёте курсы, видео и вебинары для повышения своих навыков.</p>
            </div>
            <div></div>
        </div>
        <div class="col-12 col-md-6 h-auto h-md-100 px-0">
            <img class="w-100 h-100 object-fit-cover" src="{% static "images/PHOTO-2025-01-30-21-11-27 2.jpg" %}">
        </div>
    </div>
</div>
{% endblock %}