body {
    background-color: rgba(169, 169, 169, 0.65); /* Цвет с прозрачностью */
    /* background-image: url('../images/PHOTO-2025-01-30-21-11-27 2.jpg'); */
    background-size: contain; /* Масштабирует изображение, чтобы оно покрывало всю область */
    background-position: center; /* Центрирует изображение */
    background-repeat: no-repeat; /* Запрещает повторение изображения */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    z-index: 1;
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
    color: #333333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: #555555;
}

.nav-link:hover {
    color: #000000 ;
}

.footer {
    background-color: #333333;
    color: #ffffff;
    padding: 20px 0;
    margin-top: auto;
}

.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.list-wrapper .card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.btn-primary {
    background-color: #6f42c1;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #5a32a3;
    /* transform: scale(1.05); */
}


.btn-primary:active {
    background-color: #5a32a3 !important;
}


